<h1>
  Hi there, my name is {{name}}!
  <div class="btn-group btn-group-sm">
    {{#link-to 'relatives.new' parent_id=model.id classNames="btn btn-success"}}<i class="fa fa-plus"></i> {{/link-to}}
    {{#link-to 'relatives.edit' model classNames="btn btn-default"}}<i class="fa fa-pencil"></i>{{/link-to}}
    <div class="btn btn-danger" {{action 'delete' model}}><i class="fa fa-trash-o"></i></div>
  </div>
</h1>

<ol class="breadcrumb">
  <li>{{#link-to 'relatives.index'}}Home{{/link-to}}</li>
  {{#each ancestor in ancestors}}
    <li><span class="divider">/</span>{{#link-to 'relatives.show' ancestor}}{{ancestor.name}}{{/link-to}}</li>
  {{/each}}
</ol>

<ul class="list-group">
  <div class="list-group-item list-group-item-info">Siblings</div>
  {{#each sibling in siblings}}
    <div class="list-group-item">
      {{#link-to 'relatives.show' sibling}}
        {{sibling.name}}
      {{/link-to}}
      <div class="btn-group pull-right btn-group-xs">
        {{#link-to 'relatives.edit' sibling classNames="btn btn-default"}}<i class="fa fa-pencil"></i>{{/link-to}}
        <div class="btn btn-danger" {{action 'delete' sibling}}><i class="fa fa-trash-o"></i></div>
      </div>
    </div>
  {{else}}
    <div class="list-group-item">I gotz no siblings.</div>
  {{/each}}
</ul>

<ul class="list-group">
  <div class="list-group-item list-group-item-info">
    Kids
  </div>
  {{#each kid in kids}}
    <div class="list-group-item">
      {{#link-to 'relatives.show' kid}}
        {{kid.name}}
      {{/link-to}}
      <div class="btn-group pull-right btn-group-xs">
        {{#link-to 'relatives.edit' kid classNames="btn btn-default"}}<i class="fa fa-pencil"></i>{{/link-to}}
        <div class="btn btn-danger" {{action 'delete' kid}}><i class="fa fa-trash-o"></i></div>
      </div>
    </div>
  {{else}}
    <div class="list-group-item">I gotz no kids.</div>
  {{/each}}
</ul>